/***
1.)  Import Google Fonts
1.2) Define Header Font-Family
2.)  Define Site Colours
3.)  Global Stylings
4.)  Helper Classes
*/
@import './google-fonts.scss';



// HEADING FONT FAMILY
h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@media only screen and (max-width: 750px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }
}