@import '../../configs/colours.scss';
/* MAIN */

.main-parent-container {
    margin-bottom: 2em;
}

#main{
    margin: 50px auto;
    div.in-view {
        opacity: 0;
        line-height: 1.5;
        animation: fadeIn 2s ease both;
        margin: 1em 0;
        height: 330px;
        align-items: center;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -70%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.hexagon-container {
    opacity: 0;
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hexagon-container-heading {
    flex: 100%;
    font-size: 30px;
    /* margin-bottom: 1em; */
}

.hexagon-container-preamble {
    flex: 100%;
}

.hexagon {
    width: 150px;
    height: 85px;
    background: $purple;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    margin: 5em 2em;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-bottom: 40px solid $purple;
    }

    img{
        height: 70px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 75px solid transparent;
        border-right: 75px solid transparent;
        border-top: 40px solid $purple;
    }

    .hexagon-helper-text {
        display: block;
        position: absolute;
        bottom: 0;
        transform: translateY(70px);
        z-index: 1000;
        color: $purple;
        font-weight: bold;
    }

    @media (max-width: 500px){
        border-radius: 50%;
        height: 100px;
        width: 100px;

        img{
            height: 50px;
        }

        &:before{
            content: initial;
        }

        &:after{
            content: initial;
        }

        .hexagon-helper-text{
            transform: translateY(35px);
        }
    }
}

.hexagon-scroll-down {
    text-align: center;
}

@media (max-width: 750px) {
    #main div.in-view {
        height: auto;
    }
}