@import '../../configs/colours.scss';
/* FOOTER */
.footer {
    background: $footer-grey;
    color: $white;
    line-height: 1.5;

    a {
        color: $footer-purple;
    }
}

.footer-contact {
    padding-top: 2em;

    a {
        display: block;
        padding-top: 0.3em;
        padding-bottom: 0.5em;
    }

    p.preamble {
        max-width: 330px;
        margin-top: 0;
        margin-bottom: 2.75em;
    }
} 

.footer-menus {
    display: flex;

    .footer-main-menu,
    .footer-online-menu,
    .footer-contact-menu {
        overflow: hidden;
    }
    
    ul {
        padding-left: 0;
        list-style-type: none;
        width: 225px;
        margin-right: 4em;
    }
}

@media (max-width: 800px) {
    .footer-menus .footer-contact-menu {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.footer-breakline {
    width: 100%;
    border-top: 1px solid $light-grey;
    margin-top: 1em;
}

.footer-copyright{
    p {
        margin-bottom: 0;
        padding-bottom: 1em;
    }
}