// GLOBAL STYLINGS
body {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.max-width {
    max-width: 90%;
    margin: auto;
}